.tweets_container{
    width: 100vw;
    height: 250px;
    margin: 0%;
    padding: auto;
    background: #D2B48C;
    font: 16px sans-serif;
    color: rgb(3, 3, 3);
    outline: 3px solid rgb(255, 255, 255);
    outline-offset: -7px;
}

.tweets_container  h3 {
    margin: 30px auto;
    text-align: center;
    position: relative;
    padding: 1.5rem;
    font-size: 150%;
    
}

.tweets_container h3:before {
    position: absolute;
    bottom: 11px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: #000;
}

.taikenn{
    margin-left: 50px;
    width: 90vw;
}
.naiyou input[type="text"]{
    width: 95%;
    height: 100px;
}

